
body {
	padding: 0;
	margin: 0;
	background: #000;
	text-align: center;
}

.hidden {
	height:0;
	width:0;
	overflow:hidden;
}
.ppView {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 960px;
	height: 540px;
}

.ppView svg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
